<main>
    <p>Email: <%= email %> </p>
    <p>Twitter: <a href="<%= twitter %>" target="_blank">brandonblack02</a> </p>
    <p>LinkedIn: <a href="<%= linkedIn %>" target="_blank">Brandon Black</a> </p>
</main>