<h2>Hi, I'm Brandon!</h2>
<p>
    I am a 19 year old who lives in Puyallup Washington and is taking a course up in Seattle at General Assembly on Software Development.
    This small site is a showing of some of the things that we have learned so far, we have made it onto unit 2 which is all about the backend, which we
    just started on today, so styling is not going to be crazy as I only know how to do inline styling. Other than my new found hobby of
    coding, I like to hike, mountain bike, and play guitar.
</p>