<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skills Site</title>
</head>
<body style="text-align: center">
    <nav>
        <a href="/">HOME</a> || <a href="/contact">CONTACTS</a> || <a href="/skills">SKILLS</a>
    </nav>
    <%- body %>
</body>
</html>