<h3>Here are some of the skills I have learned about here at GA so far:</h3>
<% skills.forEach(function(skill) { %>
    <ol style="list-style-type: none">
    <li> <%= skill %> </li>
    </ol>
<% }) %>